@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    margin: 0;
    font-family:
      "Roboto" Arial,
      sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 80rem; /* 1280px */
    margin-inline: auto;
    padding-inline: theme(spacing.4);
  }

  .prose {
    max-width: 65ch;
  }
}
